/* CSS Styles for the freebil module */

.freebil-page-section {
  margin-top: 30px;
}

.freebil-invgen-section {
  margin-top: 30px;
}

.freebil-invgen-heading h2,
.freebil-invgen-heading h4 {
  margin-bottom: 0;
}
.freebil-invgen-heading p {
  margin-top: 0;
}

div.freebil-phone-email td {
  width: 50%;
}
